# Ignore the 'env' directory
env/

# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.tmp
*.bak
*.swp
*.cache
*.egg-info/
dist/
build/
*.egg
*.egg-info
htmlcov/
.coverage
.vscode/
